body{
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
    background-color: antiquewhite;
    /* color: white; */
}
p{
    color: darkblue;
}
input[type=button],
input[type=submit] {
  background-color: darkslateblue;
  border: none;
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
#navbar{
  background-color: black;
  padding: 10px;
}
#searchbar{
  display: inline;
  float:right;
}
a{
  margin-right: 100px;
  text-decoration: none;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#logo{
  color: orange;
}
button{
  background-color: orange;
  border-radius: 5px;
}
input{
border-radius: 6px;
}
#box1{
  height: 200px;
  width: 200px;
  background-color: aqua;
  border: 5px solid orange;
  display: inline;
  position: static;
}
#box2{
  height: 200px;
  width: 200px;
  background-color: aqua;
  border: 5px solid orange;
  display: inline;
  position: static;
}
#box3{
  height: 200px;
  width: 200px;
  background-color: aqua;
  border: 5px solid orange;
  display: inline;
  position: static;
}
#box4{
  height: 200px;
  width: 200px;
  background-color: aqua;
  border: 5px solid orange;
  display: inline;
  position: static;
}